.popup__submit {
    background-color: black;
    border-radius: 2px;
    color: white;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 18px;
    padding: 14px;

}

@media screen and (max-width: 767px) {
    .popup__submit {
        margin-top: 2px;
        font-size: 14px;
        line-height: 17px;
    }
}